<!DOCTYPE html>
<html>
<head>
  <title>Jsrepresentation</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.cookie.js", "jquery.jawaya.utils.js" %>
  <%= javascript_include_tag "jquery.debug.js" %>
  <%= javascript_include_tag "todo.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
